@page "/"

<PageTitle>Home</PageTitle>

<h1>FASHION LINE</h1>

Este es un gestor de inventario web para la tienda de ropa FashionLine, se podrán ver todos los productos
almacenados junto con su categoría, precio y cantidad (stock), además de poder agregar nuevos productos,
editar los existentes y/o eliminarlos.